:root{--cor:#f5f5f5;--azul:#8080ff;}
.redes{text-align:center;background-color:var(--cor);margin-bottom:7px;color:var(--azul)}
.logo{display:block;width:68%;margin:7px auto;margin-left:18%;}
.busca{display:block;float:left;border:1px solid #DDD;overflow:hidden;border-radius:4px;width:100%;margin:7px auto;}
.busca input[type=text]{float:left;display:inline-block;width:80%;border:none;line-height:40px;text-indent:12px;margin:0;padding:0;}
.busca input[type=submit]{display:inline-block;width:15%;border:none;background-color:#FFF;background-image:url('img/busca.png');background-repeat:no-repeat;background-position:center;height:40px;}
.redes .col-md-3{padding:10px 0;}
footer{display:block;width:100%;background-color:var(--azul);color:#FFF;text-align:center;padding:12px 0;}
footer a, footer a:hover{color:#FFF;text-decoration:none;}
.nav{display:block;border:1px solid #DDD;margin:7px 0;overflow:hidden;border-radius:4px;text-align:center;}
.nav ul{display:block;margin:0;padding:0;list-style:none;width:100%;}
.nav ul li{display:inline-block;float:left;margin:0;padding:0;width:20%;}
.nav ul li a{display:block;line-height:45px;text-align:center;padding:0 15px;font-size:16px;text-transform:uppercase;color:var(--azul);transition:all 300ms;}
.nav ul li a:hover, .nav ul li a:active{text-decoration:none;background-color:var(--azul);color:#FFF;}
.footer_top{background-color:#DDD;padding:30px 0;}
.cat{}
.cat ul{display:block;list-style:none;margin:0;padding:0;}
.cat ul li{display:inline-block;margin:0;padding:0;}
.cat ul li a{display:block;padding:7px;background-color:var(--azul);color:#FFF;border-radius:8px;overflow:hidden;margin:2px;font-size:11px;transition:all 300ms;}
.cat ul li a:hover{text-decoration:none;background-color:#C00;}
.prod, .prod:hover{display:block;box-shadow:0 0 3px #DDD;margin:15px 0;text-decoration:none;}
.prod_bt{display:inline-block;padding:20px;border-radius:5px;border:1px solid var(--azul);width:45%;margin-left:3%;text-align:center;margin-bottom:20px;transition:all 300ms;}
.prod_bt:hover{background-color:var(--azul);color:#FFF;cursor:pointer;}
.prod_title{display:block;font-size:18px;width:100%;text-align:center;line-height:50px;}
.nav_side{}
.nav_side ul{display:block;margin:0;padding:0;list-style:none;border:1px solid var(--azul);border-radius:8px;margin:15px 0;overflow:hidden;}
.nav_side ul li{display:block;margin:0;padding:0;}
.nav_side ul li a{display:block;margin:0;padding:0;line-height:40px;font-size:14px;text-indent:14px;border-bottom:1px solid var(--azul);margin-bottom:-2px;text-transform:lowercase;text-transform:capitalize;transition:all 300ms;}
.nav_side ul li a:hover{text-decoration:none;background-color:var(--azul);color:#FFF;}
.cart{display:inline-block;background-color:var(--azul);color:#FFF;padding:5px 10px;border-radius:6px;transition:all 300ms;}
.cart:hover{background-color:#800;text-decoration:none;color:#FFF;}
.prod{overflow:hidden;border:2px solid #FFF;transition:all 300ms;position:relative;}
.marca{position:absolute;left:0;top:0;width:100%;}
.prod:hover{border:2px solid var(--azul);}
.prod img{transition:all 300ms;}
.prod:hover img{width:110%;margin-top:-10%;margin-left:-5%;}
.cartItem{padding:20px 0;box-shadow:0 0 3px var(--azul);border-radius:10px;margin:20px 0;transition:all 300ms;}
.cartItem:hover{box-shadow:0 0 7px var(--azul);}
.trash{border:2px solid #FFF;transition:all 300ms;}
.trash:hover{border:2px solid var(--azul);}
.clientes{padding:20px 0;}
.clientes img{-webkit-filter:grayscale(100%);filter:grayscale(100%);transition:all 300ms;}
.clientes img:hover{-webkit-filter:grayscale(0%);filter:grayscale(0%);}
.news{padding:25px 0;background:var(--azul);color:#FFF;}
.news h5{float:left;margin-left:7px;font-size:20px;margin-top:-5px;}
.news p{display:block;float:left;width:100%;margin-top:-10px;}
#news{display:inline-block;float:left;fill:#800;width:30px;margin-top:-10px;}
.ico_footer{display:inline-block;margin-bottom:-10px;margin-top:10px;fill:var(--azul);}
svg:hover path{fill:#FFF;}
.participe{display:block;width:100%;font-size:30px;color:#FFF;}
.alerta{display:block;position:fixed;top:0;left:0;width:100%;height:50px;background-color:#C00;text-align:center;z-index:999999999999999999999999999;line-height:50px;color:#FFF;font-size:2em;display:none;}
:root{--cor:#f5f5f5;--azul:#8080ff;}
.redes{text-align:center;background-color:var(--cor);margin-bottom:7px;color:var(--azul)}
.logo{display:block;width:68%;margin:7px auto;margin-left:18%;}
.busca{display:block;float:left;border:1px solid #DDD;overflow:hidden;border-radius:4px;width:100%;margin:7px auto;}
.busca input[type=text]{float:left;display:inline-block;width:80%;border:none;line-height:40px;text-indent:12px;margin:0;padding:0;}
.busca input[type=submit]{display:inline-block;width:15%;border:none;background-color:#FFF;background-image:url('img/busca.png');background-repeat:no-repeat;background-position:center;height:40px;}
.redes .col-md-3{padding:10px 0;}
footer{display:block;width:100%;background-color:var(--azul);color:#FFF;text-align:center;padding:12px 0;}
footer a, footer a:hover{color:#FFF;text-decoration:none;}
.nav{display:block;border:1px solid #DDD;margin:7px 0;overflow:hidden;border-radius:4px;text-align:center;}
.nav ul{display:block;margin:0;padding:0;list-style:none;width:100%;}
.nav ul li{display:inline-block;float:left;margin:0;padding:0;width:20%;}
.nav ul li a{display:block;line-height:45px;text-align:center;padding:0 15px;font-size:16px;text-transform:uppercase;color:var(--azul);transition:all 300ms;}
.nav ul li a:hover, .nav ul li a:active{text-decoration:none;background-color:var(--azul);color:#FFF;}
.footer_top{background-color:#DDD;padding:30px 0;}
.cat{}
.cat ul{display:block;list-style:none;margin:0;padding:0;}
.cat ul li{display:inline-block;margin:0;padding:0;}
.cat ul li a{display:block;padding:7px;background-color:var(--azul);color:#FFF;border-radius:8px;overflow:hidden;margin:2px;font-size:11px;transition:all 300ms;}
.cat ul li a:hover{text-decoration:none;background-color:#C00;}
.prod, .prod:hover{display:block;box-shadow:0 0 3px #DDD;margin:15px 0;text-decoration:none;}
.prod_bt{display:inline-block;padding:20px;border-radius:5px;border:1px solid var(--azul);width:45%;margin-left:3%;text-align:center;margin-bottom:20px;transition:all 300ms;}
.prod_bt:hover{background-color:var(--azul);color:#FFF;cursor:pointer;}
.prod_title{display:block;font-size:18px;width:100%;text-align:center;line-height:50px;}
.nav_side{}
.nav_side ul{display:block;margin:0;padding:0;list-style:none;border:1px solid var(--azul);border-radius:8px;margin:15px 0;overflow:hidden;}
.nav_side ul li{display:block;margin:0;padding:0;}
.nav_side ul li a{display:block;margin:0;padding:0;line-height:40px;font-size:14px;text-indent:14px;border-bottom:1px solid var(--azul);margin-bottom:-2px;text-transform:lowercase;text-transform:capitalize;transition:all 300ms;}
.nav_side ul li a:hover{text-decoration:none;background-color:var(--azul);color:#FFF;}
.cart{display:inline-block;background-color:var(--azul);color:#FFF;padding:5px 10px;border-radius:6px;transition:all 300ms;}
.cart:hover{background-color:#800;text-decoration:none;color:#FFF;}
.prod{overflow:hidden;border:2px solid #FFF;transition:all 300ms;position:relative;}
.marca{position:absolute;left:0;top:0;width:100%;}
.prod:hover{border:2px solid var(--azul);}
.prod img{transition:all 300ms;}
.prod:hover img{width:110%;margin-top:-10%;margin-left:-5%;}
.cartItem{padding:20px 0;box-shadow:0 0 3px var(--azul);border-radius:10px;margin:20px 0;transition:all 300ms;}
.cartItem:hover{box-shadow:0 0 7px var(--azul);}
.trash{border:2px solid #FFF;transition:all 300ms;}
.trash:hover{border:2px solid var(--azul);}
.clientes{padding:20px 0;}
.clientes img{-webkit-filter:grayscale(100%);filter:grayscale(100%);transition:all 300ms;}
.clientes img:hover{-webkit-filter:grayscale(0%);filter:grayscale(0%);}
.news{padding:25px 0;background:var(--azul);color:#FFF;}
.news h5{float:left;margin-left:7px;font-size:20px;margin-top:-5px;}
.news p{display:block;float:left;width:100%;margin-top:-10px;}
#news{display:inline-block;float:left;fill:#800;width:30px;margin-top:-10px;}
.ico_footer{display:inline-block;margin-bottom:-10px;margin-top:10px;fill:var(--azul);}
svg:hover path{fill:#FFF;}
.participe{display:block;width:100%;font-size:30px;color:#FFF;}
.alerta{display:block;position:fixed;top:0;left:0;width:100%;height:50px;background-color:#C00;text-align:center;z-index:999999999999999999999999999;line-height:50px;color:#FFF;font-size:2em;display:none;}
